/* ==========字重========== */
.font-light {
  font-weight: 400 !important;
}

/* ==========字体========== */
.notion-inline-code,
.notion-code,
code[class*='language-'] {
  font-family: 'JetBrains Mono', 'Cascadia Mono', Menlo, Monaco, Consolas,
  'HarmonyOS Sans SC Medium', 'HarmonyOS_Regular' !important;
}

/* ==========字体尺寸========== */
.notion-code,
.notion-inline-code {
  font-size: 90% !important;
}

code[class*='language-'] {
  font-size: 14px !important;
}

/* ==========行高========== */
code[class*=language-],
pre[class*=language-] {
  line-height: 1.625 !important;
}
